body{
    background-color: rgb(27, 18, 18);
    color:white;
}
 h1 {
    margin: 20px;
    padding:10px;
    text-align: center;
    font-size: 36px;
    color:aqua;
 }
.grid-imagens{
   display: grid;
   grid-template-columns: reapeat(2,1 Fr);
   gap: 10px;
} 
 
