body{
    background-color: rgb(27, 18, 18);
    color:white;
}
 h1 {
    margin: 20px;
    padding:10px;
    text-align: center;
    font-size: 36px;
    color:aqua;
 }
 img {
    position:absolute;
    top :50 px;
    left:100px;
 }
 
